/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

html, button, input, select, textarea { font-family: sans-serif; color: #222; }

body { margin: 0; font-size: 1em; line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { background: #a5a5a5; color: #fff; text-shadow: none; }
::selection { background: #a5a5a5; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */

button, input { line-height: normal; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }

/*
 * Re-set default cursor for disabled elements
 */

button[disabled], input[disabled] { cursor: default; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* =============================================================================
   Chrome Frame Prompt
   ========================================================================== */

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }

/* =============================================================================
   Web Fonts
   ========================================================================== */


/* Museo */
/* A font by Jos Buivenga (exljbris) -> www.exljbris.nl */
/* Font-face kit generated by Font Squirrel (http://www.fontsquirrel.com) on March 7, 2012 */

@font-face {
    font-family: 'Museo';
    src: url('type/museo300-regular-webfont.eot');
    src: url('type/museo300-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('type/museo300-regular-webfont.woff') format('woff'),
         url('type/museo300-regular-webfont.ttf') format('truetype'),
         url('type/museo300-regular-webfont.svg#Museo300') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Museo';
    src: url('type/museo500-regular-webfont.eot');
    src: url('type/museo500-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('type/museo500-regular-webfont.woff') format('woff'),
         url('type/museo500-regular-webfont.ttf') format('truetype'),
         url('type/museo500-regular-webfont.svg#Museo500') format('svg');
    font-weight: 500;
    font-style: normal;

}

@font-face {
    font-family: 'Museo';
    src: url('type/museo700-regular-webfont.eot');
    src: url('type/museo700-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('type/museo700-regular-webfont.woff') format('woff'),
         url('type/museo700-regular-webfont.ttf') format('truetype'),
         url('type/museo700-regular-webfont.svg#Museo700') format('svg');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'MuseoSlab';
    src: url('type/museo_slab_500-webfont.eot');
    src: url('type/museo_slab_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('type/museo_slab_500-webfont.woff') format('woff'),
         url('type/museo_slab_500-webfont.ttf') format('truetype'),
         url('type/museo_slab_500-webfont.svg#MuseoSlab500') format('svg');
    font-weight: 500;
    font-style: normal;

}

@font-face {
    font-family: 'MuseoSlab';
    src: url('type/museo_slab_500italic-webfont.eot');
    src: url('type/museo_slab_500italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('type/museo_slab_500italic-webfont.woff') format('woff'),
         url('type/museo_slab_500italic-webfont.ttf') format('truetype'),
         url('type/museo_slab_500italic-webfont.svg#MuseoSlab500Italic') format('svg');
    font-weight: 500;
    font-style: italic;

}

@font-face {
    font-family: 'MuseoSans';
    src: url('type/museosans_500_italic-webfont.eot');
    src: url('type/museosans_500_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('type/museosans_500_italic-webfont.woff') format('woff'),
         url('type/museosans_500_italic-webfont.ttf') format('truetype'),
         url('type/museosans_500_italic-webfont.svg#MuseoSans500Italic') format('svg');
    font-weight: 500;
    font-style: italic;

}

@font-face {
    font-family: 'MuseoSans';
    src: url('type/museosans_500-webfont.eot');
    src: url('type/museosans_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('type/museosans_500-webfont.woff') format('woff'),
         url('type/museosans_500-webfont.ttf') format('truetype'),
         url('type/museosans_500-webfont.svg#MuseoSans500') format('svg');
    font-weight: 500;
    font-style: normal;

}



/* ==|== primary styles =====================================================
   Author: Misha Wolfson
   ========================================================================== */

html {
  height: 100%;
}

body {
  font-family: "MuseoSans", "Helvetica", "Arial", sans-serif;
  background-image: url("../img/tile.png");
  text-align: left;
  height: 100%;
  color: #350105;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Museo", "Helvetica", "Arial", sans-serif;
  font-weight: 700;
}
h2 {
  border-bottom: dashed 1px black;
  margin-right: 36px;

}

a {
  font-style: italic;
  text-decoration: none !important;
  color: #67bdf0;
}
a:hover {
  color: #86cbf3;
  border-bottom: dotted thin;
}
a:visited {
  color: #0f699e;
}

header {
  height: 54px;
  width: 720px;
  padding: 18px 0;

  position: absolute;
  top: 0pt;
  z-index: 4;

  background-color: #aaa;
}
header #title {
  font-family: "Museo", "Helvetica", "Arial", sans-serif;
  font-size: 42px;
  line-height: 36px;
  margin-left: 18px;
}
header #subtitle {
  font-size: 18px;
  margin-left: 36px;
  font-style: italic;
}
#header-shadow {
  height: 1px;
  width: 720px;
  z-index: 3;

  position: absolute;
  top: 89px;
  overflow: hidden;

  -moz-box-shadow: 0 2px 6px #333;
  -webkit-box-shadow: 0 2px 6px #333;
  box-shadow: 0 2px 6px #333;
}

footer {
  font-size: x-small;
  margin-left: 36px;
  padding-bottom: 9px;
}

#container {
  background: #fdfcfd;
  border: none;

  margin-left: 108px;
  padding-top: 90px;

  width: 720px;

  /* Drop-shadow */
  -moz-box-shadow: 2px 0px 12px #666;
  -webkit-box-shadow: 2px 0px 12px #666;
  box-shadow: 2px 0px 12px #666;

}

#scroller {
  height: 100%;
  overflow: auto;
  margin: 0;
}

#main {
  margin: 0 36px;
}

#logo {
  float: right;
  position: absolute;
  top: 12px;
  right: 60px;
  height: 100px;
}

.icon {
  font-size: small;
  float: right;
  margin-top: 0.25em;
}

.important {
  background: #e3f3fc;
  padding: 18px;

  font-family: "Museo", "Helvetica", "Arial", sans-serif;
  font-size: larger;

  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;

}
.important a, .important em {
  font-family: "MuseoSans", "Helvetica", "Arial", sans-serif;
}


/* Twitter widget changes */
.twtr-widget a {
  border: none;
}
.twtr-tweet-text {
  font-family: "MuseoSans", "Helvetica", "Arial", sans-serif;
}

.ss-form-container {
  margin: 9px 0;
}
.ss-form {
  background: #f8f7f8;
  padding: 18px;

  font-family: "MuseoSans", "Helvetica", "Arial", sans-serif;
  font-size: smaller;

  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

/* consistant text input formatting */
.ss-form input[type=text], .ss-form textarea {
  background: #f8f7f8;
  color: #350105;
  font-family: "MuseoSans", "Helvetica", "Arial", sans-serif;
}

.ss-form input[type=text] {
  border: none;
  border-bottom: 1px solid #350105;
  width: 15ex;
}

.ss-form table input[type=text] {
  margin-right: 18px;

}
.ss-form table td {
  padding: 3px 0px;
}

.ss-item {
  margin-top: 18px;
}

.ss-q-title {
  font-family: "Museo", "Helvetica", "Arial", sans-serif;
  display: block;
}
.ss-q-help {
  font-size: smaller;
  font-style: italic;
}
.ss-required-asterisk {
  color: #f0c8ca;
  margin-right: 1.5ex;
  font-size: smaller;
}


ul.ss-choices {
  list-style-type: none;
  padding-left: 9px;
  margin-top: 3px;
}
ul.ss-choices li.ss-choice-item {
  display: inline;
}
ul.ss-choices li.ss-choice-item label {
  font-size: smaller;
  margin-right: 1ex;
}
ul.ss-choices li.ss-choice-item>input[type=radio] {
  font-size: smaller;
}

.ss-paragraph-text textarea {
  width: 99%;
}

.ss-form input[type=submit] {
  background: #e3f3fc;
  color: #350105;
  padding: 3px 9px;

  font-family: "Museo", "Helvetica", "Arial", sans-serif;
  font-size: larger;

  border: none;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}












/* ==|== media queries ======================================================
   EXAMPLE Media Query for Responsive Design.
   This example overrides the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}



/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }



/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}

/* vi: ts=2 sts=2 sw=2 et:
 * */
